In [1]:
with open("Nasheeth.txt", 'w') as a:
    a.write("Nasheeth,\n")
    a.write("SSB,\n")
    a.write("Malappuram")

In [50]:
import os
import pandas as pd
file_nam=os.listdir("C:\\Users\\nashe\\Downloads")
extension=[]
for file_name in file_nam:
    root, ext =os.path.splitext(file_name)
    extension.append(ext)
data=pd.DataFrame()
data["file_name"]=file_nam
data.sort_values(by="file_name", ascending=False, inplace=True)
data["extension"]=extension
data.to_excel("File_type.xlsx")
data

                                             file_name extension
998                                       ~WRL1425.tmp      .pdf
997                                       ~WRL0003.tmp
996                                  ~$A SCHEDULE.docx      .pdf
995               ~$ Criteria 4 26-07-2024 - eSAR.docx      .pdf
991                                     zudio bill.pdf      .pdf
..                                                 ...       ...
4                    1-s2.0-S0048969721047537-main.pdf      .jpg
3                    1-s2.0-S0032591021009207-main.pdf     .docx
2    1 KTU Curriculum 2024- V 22_LTM_240307_192712.pdf     .docx
1                                             02-04-25      .tmp
0                                  0-387-30808-3_3.pdf      .tmp

[999 rows x 2 columns]

In [10]:
from Addition import add
from Substraction import sub
from Multi import mul
from Divi import div
a=int(input("Enter first value : "))
b=int(input("Enter second value : "))
c=int(input("What u want to do :\n 1-Addition \n 2-Substraction 3-Multiplication\n 4-Division"))
if c==1:
    print(add(a,b))
elif c==2:
    print(sub(a,b))
elif c==3:
    print(mul(a,b))
elif c==4:
    print(div(a,b))
else:
    print("Wrong number:")

30

In [43]:
import os
import pandas as pd
dat= pd.read_csv("auto-mpg.csv")
dat.sort_values(by="mpg", ascending=True, inplace=True)
dat.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d

In [49]:
import os
import pandas as pd
dat= pd.read_csv("auto-mpg.csv")
dat.sort_values(by="mpg", ascending=True, inplace=True)
da=dat[dat["model year"]==82]
da.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l

In [2]:
import folium
import pandas as pd
cr= pd.read_csv("kerala_crime_dummy_data.csv")
theft=cr[cr["Crime_Type"]=="Theft"]
my_map=folium.Map(location=[10.05,76.0],zoom_start=25)
for index, row in theft.iterrows():
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        popup=f"<b>Crime Type:</b> {row['crime_type']}<br><b>District:</b> {row['district']}<br><b>Date:</b> {row['date']}").add_to(my_map)
my_map.save("kerala_crime_dummy_data.html")

KeyError: 'latitude'